<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Primeiro número" [(ngModel)]="n1"
    labelPlacement="floating"
    placeholder=""
    type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Segundo número" [(ngModel)]="n2"
    labelPlacement="floating"
    type="number"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="somar()" >Somar</ion-button>

  <ion-label>{{res}}</ion-label>

</ion-content>
